<?xml version="1.0" encoding="utf-8"?>
<Configuration xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
    <Accounts>
       <Account>
        <APIKey></APIKey>
        <APISecret></APISecret>
        <Type>additional</Type>
        <IsReal>true</IsReal>
        <Size>100</Size>
        <Leverage>5</Leverage>
      </Account> 		
    </Accounts>
</Configuration>